body {
  min-height: 300px;
  background-color: #f9f7f7;
}
.jumbotron {
  background-color: #dbe2ef;
  padding-top: 6rem;
}
#interest {
  background-color: #dbe2ef;
}
section {
  padding-top: 5rem;
}
